player-connection-mode=Listen
player-connection-guid=1074219191
player-connection-debug=0
player-connection-ip=192.168.16.103
player-connection-ip=192.168.56.1
player-connection-ip=100.122.131.176
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
scripting-runtime-version=latest
vr-enabled=0
hdr-display-enabled=0
